amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.15
certifi==2017.7.27.1
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.0.0
decorator==4.1.2
distlib==0.2.5
Django==1.11.4
idna==2.6
jsonschema==2.6.0
kombu==3.0.37
of==1.0.1
portend==2.1.2
psycopg2==2.7.3
pymongo==3.5.0
pytz==2017.2
redis==2.10.6
requests==2.18.4
six==1.10.0
tempora==1.9
urllib3==1.22
vine==1.1.4
ws4py==0.4.2
